.form {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.form-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-right: 20%;
  padding-left: 20%;
}

.inputContainer {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20%;
}

.inputBox {
  margin-top: 1%;
  margin-bottom: 5%;
  height: 48px;
  width: 350px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

.pageNav {
  margin-top: 30px;
}

.formLogo {
  min-height: 150px;
  width: 200px;
}