  .page-container {
    margin-left: 5%;
    margin-top: 5%;
  }
  
  .account-section {
    margin-bottom: 0px;
  }

  .section-linebr {
    color: #6a6a6a;
    max-width: 95%;
    margin-left: 0;
  }

  .account-data-row {
    margin-left: 0px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    max-width: 95%;
  }
  
  .account-data-row__left {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  .account-data-row__name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }
  
  .account-data-row__balance {
    margin-left: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  .logo {
    width: 40px;
    height: auto;
    margin-right: 12px;
  }

  .account-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 80px;
  }
  