.donut-widget {
    position: absolute;
    left: 48%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.page-title {
    position: absolute;
    top: 5%;
    margin-left: 3%;
    margin-top: 1%;
}

.top-line-break {
    position: absolute;
    top: 18%;
    min-width: 94%;
    align-content: center;
    margin-left: 3%;
    opacity: 20%;
}

.widget-title {
    font-weight: 300;
    font-size: larger;
}