.monthlySpendingHeading {
    margin-top: 56px;
    margin-bottom: 0;
  }
  
  .tableSubHeading {
    margin-top: 8px;
  }
  
  .monthlySpendingText {
    margin-bottom: 32px;
    font-family: monospace;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .monthlySpendingContainer {
    display: flex;
  }
  
  .userDataBox {
    width: 552px;
    min-height: 320px;
    border: 1px solid #000;
    margin-right: 16px;
  }
  
  .holdingsList {
    padding: 32px;
  }
  
  .holdingsList .title,
  .spendingInsightData .title { 
    font-weight: bold;
  }
  
  .spendingInsightData {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  