.monthlySpendingHeading {
    margin-top: 56px;
    margin-bottom: 0;
    transform: translate(20%);
  }
  
  .tableSubHeading {
    margin-top: 8px;
    transform: translate(20%);
  }
  
  .monthlySpendingText {
    margin-bottom: 30px;
    font-size: 16px;
    margin-top: 15px;
    font-weight: 500;
    transform: translate(20%);
}
  
  .monthlySpendingContainer {
    display: flex;
    transform: translate(20%);
  }
  
  .userDataBox {
    width: 552px;
    min-height: 320px;
    border: 1px solid #6a6a6a;
    margin-right: 16px;
  }

  .recentDataBox {
    width: 552px;
    min-height: 320px;
    border: 1px solid #6a6a6a;
    margin-right: 16px;
    transform: translate(-155%, 103%);
  }
  
  .holdingsList {
    padding: 32px;
  }
  
  .holdingsList .title,
  .spendingInsightData .title { 
    font-weight: bold;
  }
  
  .spendingInsightData {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  